body{
    text-align: center;

}
input{
    border-radius: 15px;
    width: 300px;
    height: 40px;
}
button{
    background-color: rgb(46, 203, 255);
    color: white;
    height: 40px;
    width: 150px;
    font-size: larger;
}