<meta charset="UTF-8" />
<body>
  <p mat-dialog-title>CREATE NEW ROOM</p>
  <form>
    <p><input type="text" #name placeholder="Enter room name..." required /></p>

    <p>
      <input
        type="password"
        #password
        placeholder="Enter password..."
        required
      />
    </p>

    <button
      type="submit"
      *ngIf="name.value && password.value"
      (click)="this.createRoom(name.value, password.value)"
      [mat-dialog-close]
    >
      Create
    </button>
  </form>
</body>
