

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  
  box-sizing: border-box;
  font-family: "Brush Script MT, Brush Script Std, cursive" ;
  height: 88%;
  display: flex;
  justify-content: center;
  background-image: url("https://scontent.fsgn5-7.fna.fbcdn.net/v/t1.15752-9/158181474_3798483200217203_9127809633046688976_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=ae9488&_nc_ohc=btE-UcEMybAAX9uXsqS&_nc_ht=scontent.fsgn5-7.fna&oh=9a8e1d358c89da4d12c0ba473e525466&oe=606C6371");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
  
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
  align-items: stretch;
  width: 100%;
  margin: auto 0;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .grid {
    width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .grid {
    width: 720px;
  }
}

@media (min-width: 992px)
{
  .grid {
    width: 960px;
  }
}

@media (min-width: 1200px)
{
  .grid {
    width: 1140px;
  }
}

.mycard {
  text-align: center;
  position: relative;
  border-radius: 15px;
  padding: 40px 20px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 5px 5px rgba(0,0,0,0);
  transition: .5s;
  overflow: hidden;
}

.mycard:hover {
  transform: scale(1.1);
}

.free,
.free .title .fa {
  background: linear-gradient(270deg, rgba(131,58,180,1) 0%, rgba(23,20,20,1) 66%);
}

// .basic,
// .basic .title .fa {
//   background: linear-gradient(270deg, rgba(131,58,180,1) 0%, rgba(23,20,20,1) 66%);
// }

.standard,
.standard .title .fa{
  background: linear-gradient(256deg, rgba(19,22,20,1) 0%, rgba(135,142,78,1) 50%);
}

.premium,
.premium .title .fa {
  background: linear-gradient(270deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.mycard::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20);
}

.title h2 {
  position: relative;
  margin: 20px 0 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
  font-family:"Brush Script MT, Brush Script Std, cursive" ;
}

.price {
  position: relative;
  z-index: 2;
  font-family: "Brush Script MT, Brush Script Std, cursive";
}

.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
  font-family: "Brush Script MT, Brush Script Std, cursive";
}

.option {
  position: relative;
  z-index: 2;
  font-family: "Brush Script MT, Brush Script Std, cursive";
}

.option ul {
  margin: 0;
  padding: 0;
}

.option ul li {
  margin: 0 0 10px;
  padding: 0px;
  list-style: none;
  color:white;
  font-size: 16px;
}

.mycard a {
  position: relative;
  z-index: 2;
  border-radius: 8px;
  margin: 30px auto 8px;
  text-decoration: none;
  font-family: "Brush Script MT, Brush Script Std, cursive";
  font-weight: bold;
}
.OrderNow {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}
 .OrderNow:hover {
  background-color: gray;
}
