.parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  border-top: 1px solid #dadce0;
  margin-left: 2%;
}

#holder {
  width: 30%;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  background-color: white;
}
button {
  width: 300px;
  height: 50px;
  background-color: rgb(0, 174, 255);
  color: rgb(240, 232, 232);
  margin-bottom: 10px;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.button {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
}
h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: rgb(211, 49, 49);
}
h2 {
  font-family: 500 16px/24px "Google Sans", Arial, sans-serif;
  margin-left: 6%;
}
.icon-holder {
  margin-right: 5%;
  margin-top: 1%;
}
form {
  display: block;
  margin-top: 0em;
}
.jam-list-material .jam-list-create-jam-button {
  background-color: #fa7b17;
}
.jam-list-create-jam-button {
  position: fixed;
  bottom: 28px;
  right: 24px;
  width: 56px;
  height: 56px;
  background-color: #00fbee;
  border: none;
  border-radius: 50%;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 10px rgb(0 0 0 / 30%),
    0px 0px 1px rgb(0 0 0 / 10%), inset 0px 1px 0px rgb(255 255 255 / 25%),
    inset 0px -1px 0px rgb(0 0 0 / 15%);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3),
    0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px -1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px rgb(0 0 0 / 30%), 0px 0px 1px rgb(0 0 0 / 10%),
    inset 0px 1px 0px rgb(255 255 255 / 25%),
    inset 0px -1px 0px rgb(0 0 0 / 15%);
}
user agent stylesheet button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 2px;
}
.jam-icon-fab-plus {
  width: 24px;
  height: 24px;
  background: no-repeat
    url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjI0cHgiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICAKICAgIAogICAgPGRlZnMvPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaWQ9ImZhYi1wbHVzIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI+PGcgaWQ9ImZhYi1wbHVzLWljb24iPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIgaWQ9ImZhYi1wbHVzLU1hc2siIHBvaW50cz0iMTkgMTMgMTMgMTMgMTMgMTkgMTEgMTkgMTEgMTMgNSAxMyA1IDExIDExIDExIDExIDUgMTMgNSAxMyAxMSAxOSAxMSIvPjxwb2x5Z29uIGlkPSJmYWItcGx1cy1wYWRkaW5nIiBwb2ludHM9IjAgMCAyNCAwIDI0IDI0IDAgMjQiLz48L2c+PC9nPjwvc3ZnPg==);
}
.jam-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.jam-flatbutton.jam-flatbutton-icon {
  border-radius: 50%;
  height: 32px;
  margin: 10px;
  width: 32px;
}
.jam-flatbutton-content {
  margin-right: 2%;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    display: block;
    margin-bottom: 20px;
    border: solid 2px;
  }
}
.border {
  border: solid 2px;
  width: 100px;
  height: 100px;
  background-color: blue;
}
.card {
  border: solid 2px;
  width: 140px;

}

.content {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-content: left;
  width: fit-content;
}

.visual {
  height: 100px;
  width: 100%;
}
.visual.pink {
  background-color: pink;
}
.visual.blue {
  background-color: blue;
}
.visual.green {
  background-color: green;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}

h3 {
  margin: 0;
}
