<div id="wrapper">
    <h1>SketchNest!</h1>
    <div id="login-wrapper">
        <form>
            <div class="row">
                <label for="username">Username</label>
                <input type="text" placeholder="enter username">
            </div>
            <div class="row">
                <label for="password">Password</label>
                <input type="password" placeholder="enter password" >
            </div>
            <div class="row">
                <label for="email">Email</label>
                <input type="text" placeholder=" enter email">
            </div>
            <button type="button">Register</button>
        </form>
        
    </div>
</div>