<div id="wrapper">
    <h1>SketchNest!</h1>
    <div id="signup-wrapper">
        <form>
            <table class="center" >
                
                    <tr>
                        <td><label for="username">Username</label></td>
                        <td><input type="text" placeholder="enter username"></td>
                    </tr>

                    <tr>
                        <td><label for="pwd">Password</label></td>
                        <td><input type="password" id="pwd" name="pwd" minlength="8" placeholder="enter password"></td>
                    </tr>

                    <tr>
                        <td><label for="email">Email</label></td>
                        <td> <input type="text" placeholder="enter email"></td>
                    </tr>
               
            </table>
            <br><br>
            <button type="button">Register</button>

        </form>

    </div>
</div>