<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign up Form</title>
  </head>

  <body>
    <div class="login-form">
      <div class="login-form__top">SIGN UP</div>
      <form action="#">
        <div class="form-group">
          <input
            class="input"
            type="email"
            formControlName="email"
            placeholder="Email"
            #userEmail
            required
          />
          <label class="label" for="email"> Email </label>
          <span class="input__border"> </span>
        </div>
        <div class="form-group">
          <input
            class="input"
            type="password"
            formControlName="password"
            placeholder="Password"
            #userPwd
            required
            pattern=".{5,}"
          />
          <label class="label" for="password">Password</label>
          <span class="input__border"></span>
        </div>
        <div class="form-group">
          <input
            class="input"
            type="password"
            placeholder="Repeat password"
            required
            pattern=".{5,}"
          />
          <label class="label" for="password">Repeat password</label>
          <span class="input__border"></span>
        </div>
        <div class="form-help">
          <label class="checkbox">
            <input type="checkbox" required/>
           <a href="aa">Accept our terms</a> 
          </label>
        </div>

        <button
          type="submit"
          class="btn"
          (click)="auth.register(userEmail.value, userPwd.value)"
        >
          SIGN UP
        </button>
      </form>
    </div>
  </body>
</html>
