

  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <img src="https://scontent.fsgn5-1.fna.fbcdn.net/v/t1.15752-9/152957362_1400385440293685_8382703701793146260_n.png?_nc_cat=101&ccb=3&_nc_sid=ae9488&_nc_ohc=Ng06sIqqRpoAX-yZ8Dw&_nc_ht=scontent.fsgn5-1.fna&oh=1057fccc79ee06c4d446c53ee6d006b8&oe=605860B4" style="width: 300px;">
    <ul>
      <li><a href="" class="#" >Home</a></li>
      <li><a href="#" routerLink="about">About</a></li>
      <li><a href="#" routerLink="pricing">Pricing</a></li>
      <li><a href="#" *ngIf="!this.auth.user" [routerLink]="'register'">Sign Up</a></li>
      <li><a href="#" *ngIf="!this.auth.user" [routerLink]="'login'">Sign In</a></li>
      <li><a href="#" [routerLink]="'home'"  *ngIf="this.auth.user" (click)="logOut()">Sign Out</a></li>
      
    </ul>

  </nav>

