
          
 button{
     width: 350px;
     background-color: black;
     color: white;
     border-radius: 10px;
     font-size: xx-large;
 }
 button:hover{
     background-color: white;
     color: black;
 }


/* Please â¤ this if you like it! */

@import url("//fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rubik&display=swap");

* {
  box-sizing: border-box;
  outline: none;
}

body {
  height: 73%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: "Luckiest Guy", cursive;
  color: #333333;
  // background-color: cadetblue;
  background-image: url("https://images.wallpaperscraft.com/image/paint_light_line_shape_83475_1920x1080.jpg"); /* Photo by Roberto Nickson from Pexels */
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.popup-btn {
  width: auto;
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 15px double #333333;
  text-decoration: none;
  color: #333333;
  background: wheat;
  font-size: 5vw;
  cursor: pointer;
  border-radius: 0.5rem;
  transform: scale(1, 1) skew(-5deg, -5deg);
  transition: all 400ms ease 0s;
  box-shadow: 0px 0px 5px 0px white;
  font-family: "Luckiest Guy", cursive;
}

.popup-btn:hover {
  transform: scale(1.2, 1.2) skew(-5deg, -5deg);
  transition: all 400ms ease 0s;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  pointer-events: none;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  transition-delay: 0.2s;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}
.modal-body p {
  line-height: 28px;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-family: inherit;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header .close {
  margin-top: -2px;
  margin-left: 10px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: inherit;
  font-size: 18px;
  font-weight: normal;
}
.modal-body {
  position: relative;
  padding: 15px;
  font-family: "Rubik", sans-serif;
}
#driver-terms-modal .modal-body {
  height: 600px;
  overflow: scroll;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal .btn {
  font-family: inherit;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.modal .btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  text-decoration: none;
}
.modal .btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.modal .btn:active,
.modal .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.modal .btn:focus,
.modal .btn:active:focus,
.modal .btn.active:focus,
.modal .btn.focus,
.modal .btn:active.focus,
.modal .btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.modal .btn-default:active,
.modal .btn-default.active,
.modal .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.modal .btn-default:active,
.modal .btn-default.active,
.modal .open > .dropdown-toggle.btn-default {
  background-image: none;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

// footer{
//   div.container-footer.w-container {
//     box-sizing: border-box;
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 100%;
//     padding-bottom: 30px;
//     padding-top: 30px;
//     background-color: black;
    
// }

// div.container-footer.w-container:after {
//     clear: both;
//     content: " ";
//     display: table;
//     grid-column-end: 2;
//     grid-column-start: 1;
//     grid-row-end: 2;
//     grid-row-start: 1;
//     background-color: black;
// }

// div.container-footer.w-container:before {
//     content: " ";
//     display: table;
//     grid-column-end: 2;
//     grid-column-start: 1;
//     grid-row-end: 2;
//     grid-row-start: 1;
// }

// div.w-row {
//     box-sizing: border-box;
//     background-color: black;
//     ;
// }

// div.w-row:after {
//     clear: both;
//     content: " ";
//     display: table;
//     grid-column-end: 2;
//     grid-column-start: 1;
//     grid-row-end: 2;
//     grid-row-start: 1;
// }

// div.w-row:before {
//     content: " ";
//     display: table;
//     grid-column-end: 2;
//     grid-column-start: 1;
//     grid-row-end: 2;
//     grid-row-start: 1;
// }

// div.footer-column.w-clearfix.w-col.w-col-4 {
//     box-sizing: border-box;
//     float: left;
//     min-height: 1px;
//     padding-left: 100px;
//     padding-right: 10px;
//     position: relative;
    
// }

// div.footer-column.w-clearfix.w-col.w-col-4:after {
//     clear: both;
//     content: " ";
//     display: table;
//     grid-column-end: 2;
//     grid-column-start: 1;
//     grid-row-end: 2;
//     grid-row-start: 1;
    
// }

// div.footer-column.w-clearfix.w-col.w-col-4:before {
//     content: " ";
//     display: table;
//     grid-column-end: 2;
//     grid-column-start: 1;
//     grid-row-end: 2;
//     grid-row-start: 1;
    
// }

// img.failory-logo-image {
//     border-width: 0;
//     box-sizing: border-box;
//     display: inline-block;
//     max-width: 100%;
//     vertical-align: middle;
// }

// h3.footer-failory-name {
//     box-sizing: border-box;
//     color: #FFFFFF;
//     display: block;
//     font-family: Lato, sans-serif;
//     font-size: 20px;
//     font-weight: 900;
//     line-height: 1.1em;
//     margin-bottom: 10px;
//     margin-left: 10px;
//     margin-top: 24px;
// }

// p.footer-description-failory {
//     box-sizing: border-box;
//     color: rgba(255, 255, 255, 0.8);
//     display: block;
//     font-family: Lato, sans-serif;
//     font-size: 17px;
//     font-weight: 300;
//     letter-spacing: .5px;
//     line-height: 1.5em;
//     margin-bottom: 16px;
//     margin-top: 15px;
// }

// br {
//     box-sizing: border-box;
// }

// div.footer-column.w-col.w-col-8 {
//     box-sizing: border-box;
//     float: left;
//     min-height: 1px;
//     padding-left: 10px;
//     padding-right: 10px;
//     position: relative;
//     width: 66.6667%;
   
// }

// div.w-col.w-col-8 {
//     box-sizing: border-box;
//     float: left;
//     min-height: 1px;
//     padding-left: 0;
//     padding-right: 0;
//     position: relative;
//     width: 66.6667%;
// }

// div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
//     box-sizing: border-box;
//     float: left;
//     min-height: 1px;
//     padding-left: 300px;
//     padding-right: 0;
//     position: relative;
//     width: 58.3333%;
    
// }

// h3.footer-titles {
//     box-sizing: border-box;
//     color: #FFFFFF;
//     display: block;
//     font-family: Lato, sans-serif;
//     font-size: 20px;
//     font-weight: 900;
//     line-height: 1.1em;
//     margin-bottom: 0;
//     margin-left: 0;
//     margin-top: 24px;
// }

// p.footer-links {
//     box-sizing: border-box;
//     color: rgba(255, 255, 255, 0.8);
//     display: block;
//     font-family: Lato, sans-serif;
//     font-size: 17px;
//     font-weight: 300;
//     letter-spacing: .5px;
//     line-height: 1.8em;
//     margin-bottom: 16px;
//     margin-top: 2px;
// }

// a {
//     background-color: transparent;
//     box-sizing: border-box;
//     color: #FFFFFF;
//     font-family: Lato, sans-serif;
//     font-size: 17px;
//     font-weight: 400;
//     line-height: 1.2em;
//     text-decoration: none;
// }

// a:active {
//     outline: 0;
// }

// a:hover {
//     outline: 0;
// }

// span.footer-link {
//     box-sizing: border-box;
//     color: rgba(255, 255, 255, 0.8);
//     font-weight: 300;
// }

// span.footer-link:hover {
//     color: #FFFFFF;
//     font-weight: 400;
// }

// span {
//     box-sizing: border-box;
// }

// strong {
//     box-sizing: border-box;
//     font-weight: 700;
// }

// div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
//     box-sizing: border-box;
//     float: left;
//     min-height: 1px;
//     padding-left: 0;
//     padding-right: 0;
//     position: relative;
//     width: 41.6667%;
// }

// div.column-center-mobile.w-col.w-col-4 {
//     box-sizing: border-box;
//     float: left;
//     min-height: 1px;
//     padding-left: 0;
//     padding-right: 0;
//     position: relative;
//     width: 33.3333%;
// }

// a.footer-social-network-icons.w-inline-block {
//     background-color: transparent;
//     box-sizing: border-box;
//     color: #FFFFFF;
//     display: inline-block;
//     font-family: Lato, sans-serif;
//     font-size: 17px;
//     font-weight: 400;
//     line-height: 1.2em;
//     margin-right: 8px;
//     margin-top: 10px;
//     max-width: 100%;
//     opacity: .8;
//     text-decoration: none;
// }

// a.footer-social-network-icons.w-inline-block:active {
//     outline: 0;
// }

// a.footer-social-network-icons.w-inline-block:hover {
//     opacity: 1;
//     outline: 0;
// }

// img {
//     border-width: 0;
//     box-sizing: border-box;
//     display: inline-block;
//     max-width: 100%;
//     vertical-align: middle;
// }

// p.footer-description {
//     box-sizing: border-box;
//     color: rgba(255, 255, 255, 0.8);
//     display: block;
//     font-family: Lato, sans-serif;
//     font-size: 17px;
//     font-weight: 300;
//     letter-spacing: .5px;
//     line-height: 1.5em;
//     margin-bottom: 16px;
//     margin-top: 15px;
// }

// strong.link-email-footer {
//     box-sizing: border-box;
//     font-weight: 700;
// }
// }
.clearfix {clear: both;}
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}


.clr3 {background:black; color:white;}
.clr4 {background:white; color: red;}


a {color: #BDC3CF; text-decoration: none;}
a:hover {color: #ffffff; text-decoration: underline;}


/*##### Footer Structure #####*/
.bo-wrap {clear:both; width: auto;}
.bo-footer {
  // clear:both;
  width: auto;
  // padding: 5px;
  width: 960px;
	margin: 0 auto;
}

.bo-footer-social {text-align: center; line-height: 1px;}

.bo-footer-smap {
	width: 300px;
	float: left;
	padding: 5px 10px;
  text-align: left;
  font-size: 18px;
}
.bo-footer-power {
	width: 300px;
	padding: 5px 10px;
	float: left;
  text-align: right;
  font-size: 14px;
  color: white;
  vertical-align: middle;
}

.bo-footer-copyright {text-align: center; color: black}
@media screen and (max-width: 980px) {

	.bo-footer {
		width: 95%;
		padding: 1% 2%;
	}
	.bo-footer-smap {
		width: 46%;
		padding: 1% 2%;
	}
	.bo-footer-power {
		clear: both;
		padding: 1% 2%;
		width: auto;
		float: none;
    text-align: center;
	}
}
/* for 700px or less */
@media screen and (max-width: 600px) {

	.bo-footer-smap {
		width: auto;
		float: none;
    text-align: center;
	}
	.bo-footer-power {
		width: auto;
		float: none;
    text-align: center;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

}
.Title{
  color: white;
text-align: center;
margin-bottom: 10%;
}
h1
{
// font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 120px;
font-style: normal;
font-family: "Brush Script MT, Brush Script Std, cursive";

}
h3{
  font-size: 45px;
  font-family: "Brush Script MT, Brush Script Std, cursive";
}
