
        .left{
            height: 500px;
            background: yellow;
            width: 200px;
            float: left;
        }
        .body{
            height: 400px;
            background: green;
            margin-left:210px;
            margin-right:210px;
        }
        .right{
            background: pink;
            width: 200px;           
            float:right;
            height: 500px;

        }
        .middle{
            
            margin-left: 5px;
            margin-right:5px;
        }
        .middle::after{
            content:"";
            display:block;
            clear:both;
        }
        .purple-square-container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
 button{
     width: 350px;
     background-color: black;
     color: white;
     border-radius: 10px;
     font-size: xx-large;
 }
 button:hover{
     background-color: white;
     color: black;
 }
 .btnLB{
     height: 50px;
 }

/* Please â¤ this if you like it! */

@import url("//fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rubik&display=swap");

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  font-family: "Luckiest Guy", cursive;
  color: #333333;
  background-color: cadetblue;
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUTEhMVFRUXFRUVFxUXFRUVFxUVFRUXFxUVFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGxAQGy0lICUtLS0tLy0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAKgBLAMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAADBAABAgUGB//EADIQAAICAQMDAwIGAQMFAAAAAAABAgMRITFBBBJRYXGBE5EFIqHR4fCxMlLxBhRCssH/xAAcAQADAQEBAQEBAAAAAAAAAAACAwQBBQAHCAb/xAAkEQACAgICAgICAwAAAAAAAAAAAQIRAyESMUFRBCITMmFicf/aAAwDAQACEQMRAD8A5ahL/bk3CWM5WG0M11LOjCdbQ1o1qj+ds+oPIrpiOdBXyHvbW/8AdQDWUPxaOd8h/YFY9EK/Uw8r4GbFlewDsykWxIZNJGu9tElLCIlwYveW0FJXoXCW7DU2N650Cu7gRqmsEV5Rjx2JzfIS0dLqusdjTlwlFJbJLZJC7s0FlaiQlkux4qOVmzprQV2YIp5AymUpZ2LUrRxM83djSsxuE7soUjI3RubxEqbYSpr9Tu9D11UIpSrUnrq2014OE0HjEcopi8k6HHq8m5T0XnIKOyLgiiCOTneh2h5QzTEU6WW6Dxnhj0/BzpK0dCiCzn7jcKo77v8AQRptGabMa8GyTESlTsPHQLDwDUk8NahHJP3FMW37DTlwbp2FZW5eGtRiqxYSAa0IyOjc3sHolrgx9PlEQp00DutjeiL7ciysDU2inFo8pq6ZbRAkjMTLPOG9FRsDJAJILCRjNxvdM2om8oH3GXFMGh3KujxN3SYjHTAj1lrer32DT6mWMNttLC9gU9kvufxDa8H6QxprchO9dyz6C9WMNMalD++4ndBofjJvlw8oXm8GIbG3uZZWujlzlWiJAEMxYvatcobViOXHYvdB8GYy8mppi9jf94KMaaI/kNN2iSs1NQtwxScmZUiqEzlZEOfU1yWpPgBVIc6Snvmo5xl4K4yI5R2bosGIborrekUId0ZZcZdsl6PaS+dPlC7t0TXswoyTMnDVnSlHVBXLQSp6jVZGovUoxnOztoOpZwgwvBYGILJRE5mX7JBYPDyNIVwayw+yeUVoZVjixt9Rlegnkup4foGpWA8f1GFNrVDlV6lvoxSIWutPTZjXUkRDcZPZ/DDqD9/USpm4vDHabV8CJpoxxQxVNrQKrQf1EW7oiGr8CJIIppmtd0KuaDVWGONCk/HYzTbkIxZx5QWMhbXoYla0GUvJTlgpIiw9ADH/AGCxlknaLpYYwm/Qxqg4tPs+edr3ZpPKGrIbidixsfwaR+lYy5FTrzFtbilkNDo1PKYnYPi9gyd2mcuyPgXUx/qYYObcuUVQlZyvk4a2gsWVOIOEzXeURZz/ACBsjoL5OjjIpdV4HRmIniFrK8oWlW0PRRj0ZqnTJJYmxWncYpm4yTW6eUZlSuDfY+S3FkTI8mJo3KxvOX/q3FoTwXbMHAcuxbWjo0S0HqZ5OXVIbg/BZFnIzxd2dGuYzTZg50JjVc8j4sglE6MVkJ2iMJ42G67kMI2qYVMIlkkMPTkuC4YcUmKcqTCVrAdMzHXcJCAf8k0lF6CRnnRkhlGIxa9Qlc86MwW4tB65NBZpAIvAZSFsXKO7RHW91qaqn4NQkZlFZygb8MVKNu12ORl4DRmn7idcg0dRMomy9h4TxubnHOqBItTaF0By5aCPX3NJIXdjyZefJ7iFryeYjFgratRiLwyTktmz+Cqj9IKTTEM9uQNlfj3H7+laWdHHymmIp4en28+gadMampK0KW7anNtjjVbM6nXVJpuP2OY5cMoiT5Ippi8oeAak1uMpcGXUURkcfLCnouqQScQKQwnlDU7BVVQpbDAHGo5YhWxG9i5R4sxKBK1nQLVJPR+yfgx2OL10aH420SZUmqYpfXh48A4ROp1NHfDuW639vIpWtC+DtHKy/QrwMQbRiqvuXyMKPkri6ObkVs3FvcNXIzXBFShjYOMiaeOx6u1Y1Cxng58rGahdkYpNEk8Ojs1vwxqq3Oj3ON09zXsdBzTX+BsZ+yPJhXaOlB+QrXg5dfV40f3HKuo+UOTZBPEr0MZZqaysrcxGcWV3YZqewGmkMVWZWu6CueBZeUWrMnmhWmM9wRPPuJxm1uHTQLiA47GYoLXb5F67caMK8MU17Md9DcJJ7mO8ErODLuYviYsd7CuTRSeeQUssysoLiE4s4zg1sJ2p86o6HauHuL2aM+c9n6NhITVjXqi7o5QedcX6CnVVyS30GR5DJSTEbrfURsjnIa+XDWP75F9Y7FEJE84tFLJfeW9fQii1vr6oepImljsmEyYx7GcpBozTPJtO0S5MYvJ5BJZDWUtbAIyKI7ET3GgU4vjUuHUKWmc4013XoasSYpd0uddPdZTLIJeTlZGzufh2ns9GhPq+m7JNcbr1Qv8Ah85Rf+rTwztyirIYbw+H6/sUQ0yTMuUTlUegfGQPa4ScZLDN48FaZyZp2Wky8tGGRSDsVxbLcmRA5PJuDNs2vY1Vbgaru8M52S65YYcHZHkgjs1yT3D1JoRqllDMLNB8ZM5uWCXQ5VdwxhLGxzVan7jVF/DGNkrXochMlkf+QWS1Y1wbbEvGrsLXa1o9vIz9RYOd9ZZ/cPVYjWzJRYy5BKLuBbu1wbgbSaF8WPfULU/AFTNQmvCFcRackxuuxPjBqa13F1JA5dUvIHDehr66OVZHhA3DybTbehc4yWiWX8HzlOmfopOtC9jFpyytA90J/wDkmkJWpp4C5McoqSFrV5/UWsr7dthnqdVnkDT44HJ2hTVKwHYmajS/IScSu49Ypxvor6fkUksapjVssIUsllMfj2SZW4h6p5WBeyBmiXASLxoyqOiKa5IXcWVJDM0AkU45kGWDSASXJ0uh6jKObZoyVy7X6MtjTRyslp0dm+yMklL4fj29PQWn07W35l5/gUsueDVHVNevp5HpOiOST7NyT9jLeN2M/wDdqS5/YBZ66+ux7kwXAx3GoywCs0MxfqEmKkGjbqhiS5Ea3qOqY2LIczoe6aTSDq70ObG1oLHqB3IhnDkOvyglV3DElPJuFrQ2MrESxaOpC5+QqtZzo2eAkb0M7Qj8SvY72533LrytAELcm4ya2BTfkCSS6HYyb34DQs8i1NuQqaDsS4jkbS3MThYbyuWA9HnjXZudqRWM8g+5cIkn6ozkHFF0+fAO6OvcF7Htwv1ZjquEfND9AJ/YVnN530BW4egVoXlF5CjLdFMRX6e/kB2Y4HLdwd0tM/c2M60eyJ3/AKKX+QMo5WQnUvTQBGfA+GxDTSMKx7MBPYNNYB2oqgkiDNsWgFlLPuCnE1CQ60Q7jIy5BMArIlVzfwNiKzILfS//AKKzWh1Oh6tKyDmsxyk15W2Dofi3S0zclD8uja8J9ucZ9WVwkcnMjzlc+Huv8GXFrYC9w3eWY52qOdJbNVz1G65P3Epakrk1oGxbdDcpYAy1LmypaLXfx+5iEz2VHcYUhVB0NTI8ivTDxmbjjyJd2GMQsDTFSiMQbTDRmLRn4NKxjExTiORsxsFUsiP1GbhfgJSaEyxDcZ4C19R8isbkypS8BRnb2KeI6VV//I3CxM41V/kbjpqgm6EuHE6NVhU7XkWjajfcahdI33epp6gkk93gj7Vs2/XB5jEmdqXV8YX2FOpnnLwSC1bYK6xPk+at6o+8Qgk9AFZuiNaZNfUUddDCvz8m+kUb8F01Rm9Wl7hZdNU9O7Dxu9hSzR6C9sG3/dDY1fRkoX5oT6mvDa4FHodN9M2m1qlyIW14HRdIXPYCx6l1x7iu3U3XmLKYysjmq0Asq7XgFJHeu6R3ZmsaYz86I4nVVuLwxhJJpsy9hZy1yh+vtlW09GtU/jb74OZKWGUQJMsl0GUtS7b223nVg4SMTZXFHJzAJSJGZJaszGt4b4K46OdLsKmFi88CsUw6Y3sVIJKWOQfcDbL+TaoSws3jVGo2gFI3Kto8mKlGzci6pMA2zcJ/AaYHEbUw8bdBTu4NQmFy0KcUNwvTNtoQZqMnweB4jXcgtd/DEe8LXLyGnYuUKHxnp5tL0EkzcW1sMTtUTyjZ1YYaNxz8HPov11G+/wBT0ZNdiHiCOS/kw7vAtfYJzm874NlLYcMWtnrZRb5wK9Q4x2DWXvZb438fyKThn4PnS1s+7Y17AvL1ZmU3wbul9gCsz6L/ACB2ypLVhk9MmXenpsZl1CRcJZTbwvGQ0T5E+2jVHU9jeNnv/BcbKpKUbMrP+hrVptrPxgU6qtwf5tMrIslnVj46RO4qWzfV9M62v8+RO964G+o6luMYvgSlPd8jYLeieVpWxmHWuEHFbyab9ohfxjq67aoOMcWRb735TSx/6r7nIcsk+poymJFlp7F4yA9QsZXKeDYv1U23J531ZRj6ObnZqm/gI2c5PA1VfkrxPRzJy3TI3+YtoqUlnQjZXAin2XkLHPaYjBMk2GgGimRIxKRrvzsY2KkFplh+WFuvUn+2wm5cI1FYMQLWg84aZ4zgwmikzSQwS3RakHgCsSWDXfpk0CSsIy4swp53NzaxobyB462W0XGQKLLTNTAcRuu4K+o9Dn5wGhLIVg/jQ9XcmFVqXJzMsLGb8G3sBwG5TyCxkA7AmUeZ6MT1if5vfQBZ+XIata5AdVPL9snz6j7dDuheVbbwYvkorC3GYS0bEJb5e7/Q1bDct78G4z7Vtr58ewD6mpVksbmK48jEjFVWwls3JrJmTwSbwAsnoGmTSVsx1D2BS5DWLRGMLON86D4E+X9aFJLUG9jrKquKl36tpduOP7k5NpQjmZGDYrchtepnrOm7Yxl/uz+mCmL0QZEctEp0lgNGCc0m8J8+M+Rj8T/DZ0S7Z41WjTymh2KVOjl5YC6lqEi0LLGUGa7ZtP2LFKmSyjZuMWzbjhA1I1KWUMsWCSyE2RmBTRt2LZNi1F7jnQdM7G0llrX2Ond+G5j4ZqaBZxqHlh7E+Ny6qu17DDqW6CYlryIsiN2RMRfBqBaNpmlIEaiE0Ywi0eDaBB1qeFtUWRIrJIs1HpFwmbyYsjnVErWQlQHgPXLG+voFd3iC/vuBrrWdxhdLL0+6PaMs9PK9Rwt3yVDp3Y3qk8Z9/QhD+BR9pl9Y2uxa19sWvgTrWXnwQhtbPT/WxW2WXp5/Q3KX2RCBNnn6MSTYPGWQgcUJb7Lby/QWm9dCEHwJcugV9mdxeGslnTVf5IQph0czO9l9XBRk0nlcfYBZlrf+CEHoik7QtZThxD/iH4jK7WSWU/0/qIQNMjnFczn9mZJJpa/Yc67p3CzDkpNpPKzyQhSvBI1sDIuTwQhUSsqDLtIQ1diWdb/p/q5QUsbPfzjVb/J36ZxlHGCyHpIy90I9T0ngTlW4kIamA0J9RHDAtJ+5CBA+aMqLQVIsgcdi2bcVo1zx4NwIQ0Fl9mTdCwyEPAS7HJxrccx3S1zy+cC1MFnPBCHkauivqvOjGKrmly/1IQN9C7Z//9k="); /* Photo by Roberto Nickson from Pexels */
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.popup-btn {
  width: auto;
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 15px double #333333;
  text-decoration: none;
  color: #333333;
  background: wheat;
  font-size: 8vw;
  cursor: pointer;
  border-radius: 0.5rem;
  transform: scale(1, 1) skew(-5deg, -5deg);
  transition: all 400ms ease 0s;
  box-shadow: 0px 0px 5px 0px white;
  font-family: "Luckiest Guy", cursive;
}

.popup-btn:hover {
  transform: scale(1.2, 1.2) skew(-5deg, -5deg);
  transition: all 400ms ease 0s;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  pointer-events: none;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  transition-delay: 0.2s;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}
.modal-body p {
  line-height: 28px;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-family: inherit;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header .close {
  margin-top: -2px;
  margin-left: 10px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: inherit;
  font-size: 18px;
  font-weight: normal;
}
.modal-body {
  position: relative;
  padding: 15px;
  font-family: "Rubik", sans-serif;
}
#driver-terms-modal .modal-body {
  height: 600px;
  overflow: scroll;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal .btn {
  font-family: inherit;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.modal .btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  text-decoration: none;
}
.modal .btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.modal .btn:active,
.modal .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.modal .btn:focus,
.modal .btn:active:focus,
.modal .btn.active:focus,
.modal .btn.focus,
.modal .btn:active.focus,
.modal .btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.modal .btn-default:active,
.modal .btn-default.active,
.modal .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.modal .btn-default:active,
.modal .btn-default.active,
.modal .open > .dropdown-toggle.btn-default {
  background-image: none;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

footer{
  div.container-footer.w-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: black;
    
}

div.container-footer.w-container:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    background-color: black;
}

div.container-footer.w-container:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.w-row {
    box-sizing: border-box;
    background-color: black;
    ;
}

div.w-row:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.w-row:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 100px;
    padding-right: 10px;
    position: relative;
    
}

div.footer-column.w-clearfix.w-col.w-col-4:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    
}

div.footer-column.w-clearfix.w-col.w-col-4:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    
}

img.failory-logo-image {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

h3.footer-failory-name {
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 24px;
}

p.footer-description-failory {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
}

br {
    box-sizing: border-box;
}

div.footer-column.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 66.6667%;
   
}

div.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 66.6667%;
}

div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 300px;
    padding-right: 0;
    position: relative;
    width: 58.3333%;
    
}

h3.footer-titles {
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 24px;
}

p.footer-links {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.8em;
    margin-bottom: 16px;
    margin-top: 2px;
}

a {
    background-color: transparent;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    text-decoration: none;
}

a:active {
    outline: 0;
}

a:hover {
    outline: 0;
}

span.footer-link {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
}

span.footer-link:hover {
    color: #FFFFFF;
    font-weight: 400;
}

span {
    box-sizing: border-box;
}

strong {
    box-sizing: border-box;
    font-weight: 700;
}

div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 41.6667%;
}

div.column-center-mobile.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 33.3333%;
}

a.footer-social-network-icons.w-inline-block {
    background-color: transparent;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    margin-right: 8px;
    margin-top: 10px;
    max-width: 100%;
    opacity: .8;
    text-decoration: none;
}

a.footer-social-network-icons.w-inline-block:active {
    outline: 0;
}

a.footer-social-network-icons.w-inline-block:hover {
    opacity: 1;
    outline: 0;
}

img {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

p.footer-description {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
}

strong.link-email-footer {
    box-sizing: border-box;
    font-weight: 700;
}
}
.Title{
  color: white;
text-align: center;
margin-bottom: 20%;
}
h1
{
// font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 120px;
font-style: normal;
}
h3
{font-size: 45px;
}
