
<body>
  <a href="#modal" class="popup-btn">Click Me</a>


<script>
  $(".popup-btn").click(function (e) {
  e.preventDefault();
  var linkID = this.hash.replace("#", "");
  $(".modal").each(function () {
    var modalID = $(this).attr("id");
    if (linkID === modalID) {
      $(this).fadeIn(200);
      $("body, html").addClass("modal-open");
      $(".modal-backdrop").addClass("in");
      $(this).addClass("in");
    } else {
      $(this).fadeOut();
      $(this).removeClass("in");
    }
  });
});
$("body, button.close, .modal-footer button.btn").click(function () {
  $("body, html").removeClass("modal-open");
  $(".modal-backdrop").removeClass("in");
  $(".modal").fadeOut();
  $(".modal").removeClass("in");
});
$(".modal-content, .popup-btn, .modal-header .close, .modal-footer .btn").click(
  function (e) {
    e.stopPropagation();
  }
);

</script>
</body>
<div class="main">
  <div class="middle">
    <aside class="left">left column<br /><br /><br /><br /><br /></aside>
    <aside class="right">right column<br /><br /><br /></aside>
    <aside class="body">The middle column<br /><br /><br /><br /></aside>
    <br />
    <div class="purple-square-container">
      <div class="purple-square">
        <button class="btnLB" *ngIf="this.auth.user" routerLink="lobby">
          Go to Lobby
        </button>
      </div>
    </div>
  </div>
  <footer class="bottom">Bottom</footer>
</div>