body {
  font-family: "Brush Script MT, Brush Script Std, cursive";
  margin: 0;

}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 24%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  
  margin: 8px;
  background-color: white;

}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #1d376e;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: gray;

}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 96%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.vb{
  font-size: larger;
}



* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: "Brush Script MT, Brush Script Std, cursive";
  padding: 20px;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color:white;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   box-shadow: 0px 4px 8px 0px rgb(184, 184, 184);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.la-ball-fussion,
.la-ball-fussion > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-fussion {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-fussion.la-dark {
    color: #333;
}
.la-ball-fussion > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-fussion {
    width: 8px;
    height: 8px;
}
.la-ball-fussion > div {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: ball-fussion-ball1 1s 0s ease infinite;
       -moz-animation: ball-fussion-ball1 1s 0s ease infinite;
         -o-animation: ball-fussion-ball1 1s 0s ease infinite;
            animation: ball-fussion-ball1 1s 0s ease infinite;
}
.la-ball-fussion > div:nth-child(1) {
    top: 0;
    left: 50%;
    z-index: 1;
}
.la-ball-fussion > div:nth-child(2) {
    top: 50%;
    left: 100%;
    z-index: 2;
    -webkit-animation-name: ball-fussion-ball2;
       -moz-animation-name: ball-fussion-ball2;
         -o-animation-name: ball-fussion-ball2;
            animation-name: ball-fussion-ball2;
}
.la-ball-fussion > div:nth-child(3) {
    top: 100%;
    left: 50%;
    z-index: 1;
    -webkit-animation-name: ball-fussion-ball3;
       -moz-animation-name: ball-fussion-ball3;
         -o-animation-name: ball-fussion-ball3;
            animation-name: ball-fussion-ball3;
}
.la-ball-fussion > div:nth-child(4) {
    top: 50%;
    left: 0;
    z-index: 2;
    -webkit-animation-name: ball-fussion-ball4;
       -moz-animation-name: ball-fussion-ball4;
         -o-animation-name: ball-fussion-ball4;
            animation-name: ball-fussion-ball4;
}
.la-ball-fussion.la-sm {
    width: 4px;
    height: 4px;
}
.la-ball-fussion.la-sm > div {
    width: 6px;
    height: 6px;
}
.la-ball-fussion.la-2x {
    width: 16px;
    height: 16px;
}
.la-ball-fussion.la-2x > div {
    width: 24px;
    height: 24px;
}
.la-ball-fussion.la-3x {
    width: 24px;
    height: 24px;
}
.la-ball-fussion.la-3x > div {
    width: 36px;
    height: 36px;
}
/*
 * Animations
 */
@-webkit-keyframes ball-fussion-ball1 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 100%;
        z-index: 2;
        opacity: .35;
    }
}
@-moz-keyframes ball-fussion-ball1 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 100%;
        z-index: 2;
        opacity: .35;
    }
}
@-o-keyframes ball-fussion-ball1 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 100%;
        z-index: 2;
        opacity: .35;
    }
}
@keyframes ball-fussion-ball1 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 100%;
        z-index: 2;
        opacity: .35;
    }
}
@-webkit-keyframes ball-fussion-ball2 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 50%;
        z-index: 1;
        opacity: .35;
    }
}
@-moz-keyframes ball-fussion-ball2 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 50%;
        z-index: 1;
        opacity: .35;
    }
}
@-o-keyframes ball-fussion-ball2 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 50%;
        z-index: 1;
        opacity: .35;
    }
}
@keyframes ball-fussion-ball2 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 50%;
        z-index: 1;
        opacity: .35;
    }
}
@-webkit-keyframes ball-fussion-ball3 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 0;
        z-index: 2;
        opacity: .35;
    }
}
@-moz-keyframes ball-fussion-ball3 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 0;
        z-index: 2;
        opacity: .35;
    }
}
@-o-keyframes ball-fussion-ball3 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 0;
        z-index: 2;
        opacity: .35;
    }
}
@keyframes ball-fussion-ball3 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 0;
        z-index: 2;
        opacity: .35;
    }
}
@-webkit-keyframes ball-fussion-ball4 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 50%;
        z-index: 1;
        opacity: .35;
    }
}
@-moz-keyframes ball-fussion-ball4 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 50%;
        z-index: 1;
        opacity: .35;
    }
}
@-o-keyframes ball-fussion-ball4 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 50%;
        z-index: 1;
        opacity: .35;
    }
}
@keyframes ball-fussion-ball4 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 50%;
        z-index: 1;
        opacity: .35;
    }
} 
