#body{
  display:flex;
  flex-direction: column;
  width: 100%;

  background-color: rgb(190, 204, 241);
  height: 100%;
  
  
}
#drawFunction{
  display:flex;
  flex-direction: row;
  margin-top:1%
}
#drawTool{
  display:flex;
  flex-direction: column;
}
#userBoard{
  display:flex;
  flex-direction: column;
}
#page{
  display:flex;
  flex-direction: row;
  border:none;
}
#pageBtn{
  margin-left: 45%;
  width: 100px;
  height: 50px
}
#canvas{
  background-color: white;

}
#btnFunction{
  width: 50px;
  height: 50px;
  margin-top: 5%;
  border-radius: 50%;
}
#imgFunction{
  width: 50px;
  height:50px;
}
#drawBoard{
  margin-left: 2%;
}
#userBoard{
  border:1px solid black;
  margin-left: 2%;
  width: 20%;

}
#pageBtn{
  margin-top: 50px;
}

// #drawContent {
//   display: flex;
//   flex-direction: column;
// }
// #drawSpace{
//   margin-left: 10%;
// }
// button {
//   width: 50px;
//   height: 50px;
//   margin-top: 10%;
// }
// canvas {
//   background-color: white;
//   border: 1px solid black;
// }
// img{
//   width: 50px;
//   height: 50px;
// }
// #body{
//   display: flex;
//   flex-direction: row;
//   margin-left: 10%;
// }
