<div id="body">
    <div id="page">
        <button id="pageBtn">Page 1/1</button>
    </div>
    <div id="drawFunction">
        <div id="drawTool">
            <button id="btnFunction" (click)="startDrawing()"><span class="material-icons">create</span></button>
            <button id="btnFunction" (click)="pointer()"><span class="material-icons">near_me</span></button>
            <button id="btnFunction" (click)="eraser()"><span class="material-icons">clear</span></button>
            <button id="btnFunction" (click)="drawCircle()"><span class="material-icons">brightness_1</span></button>
            <button id="btnFunction" (click)="drawRectangle()"><span class="material-icons">crop_din</span></button>
            <button id="btnFunction"><span class="material-icons">event_node</span></button>
            <button id="btnFunction"><span class="material-icons">insert_photo</span></button>
        </div>
            <div id="drawBoard">
                <canvas id="canvas"></canvas>
            </div>
            <div id="userBoard">
                <button>Share</button>
            </div>
    
        </div>
        <!-- <div>
            <button>Page 1/1</button>
        </div>
        <div id="drawContent">
            <button (click)="startDrawing(canvas)"><img src="https://www.vhv.rs/dpng/d/585-5858860_blue-paint-brush-and-can-png-icons-ms.png" alt=""></button>
            <button (click)="eraser(canvas)"></button>
            <button (click)="drawCircle(canvas)"></button>
            <button (click)="drawRectangle(canvas)"></button>
            <button (click)="pointer(canvas)"></button>
        </div>
        <div id="drawSpace">
            <canvas id="canvas" ></canvas>
        </div> -->
    </div>