<body>
    <div id="page">
        <button id="pageBtn">Page 1/1</button>
    </div>
    <div id="drawFunction">
        <div id="drawTool">
            <input type="color" id="color" (onValueChange)="chooseColor()">

            <button id="btnFunction" (click)="startDrawing()"><span class="material-icons">create</span></button>
            <button id="btnFunction" (click)="pointer()"><span class="material-icons">near_me</span></button>
            <button id="btnFunction" (click)="eraser()"><span class="material-icons">clear</span></button>
            <button id="btnFunction" (click)="drawCircle()"><span class="material-icons">brightness_1</span></button>
            <button id="btnFunction" (click)="drawRectangle()"><span class="material-icons">crop_din</span></button>
            <button id="btnFunction"><span class="material-icons">insert_photo</span></button>
        </div>
        <div id="drawBoard">
            <canvas id="canvas"></canvas>
        </div>
        <div id="userBoard">
            <button mat-raised-button (click)="openDialog()">Share</button>
        </div>
    </div>