// body{
//   display:flex;
//   flex-direction: column;
//   width: 100%;

//   background-color: rgb(190, 204, 241);
//   height: 100%;
//   flex-direction: column;
//   justify-content: space-between;
  
  
// }
// #drawFunction{
//   display:flex;
//   flex-direction: row;
//   margin-top:1%
// }
// #drawTool{
//   display:flex;
//   flex-direction: column;
// }
// #userBoard{
//   display:flex;
//   flex-direction: column;
// }
// #page{
//   display:flex;
//   flex-direction: row;
//   border:none;
// }
// #pageBtn{
//   margin-left: 45%;
//   width: 100px;
//   height: 50px
// }
// #canvas{
//   background-color: white;

// }
// #btnFunction{
//   width: 50px;
//   height: 50px;
//   margin-top: 6%;
//   border-radius: 50%;
// }
// #imgFunction{
//   width: 50px;
//   height:50px;
// }
// #drawBoard{
//   margin-left: 2%;
// }
// #userBoard{
//   border:1px solid black;
//   margin-left: 2%;
//   width: 20%;

// }
// #pageBtn{
//   margin-top: 50px;
// }
// #btnshare{
//   background-color: blue;
//   color: white;
// }
// #color{
//   width: 50px;
//   height: 35px;
// }
// // #drawContent {
// //   display: flex;
// //   flex-direction: column;
// // }
// // #drawSpace{
// //   margin-left: 10%;
// // }
// // button {
// //   width: 50px;
// //   height: 50px;
// //   margin-top: 10%;
// // }
// // canvas {
// //   background-color: white;
// //   border: 1px solid black;
// // }
// // img{
// //   width: 50px;
// //   height: 50px;
// // }
// // #body{
// //   display: flex;
// //   flex-direction: row;
// //   margin-left: 10%;
// // }
.image-upload > input
{
    display: none;
}

.image-upload img
{
  width: 50px;
  height: 50px;
    cursor: pointer;
	  border-radius: 50%;
    border: solid 1px;
}
header{
  background-color: #313131;
  
}

//fix layout here
body {
  // background-image: url("https://images.unsplash.com/photo-1536599018102-9f803c140fc1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
  display: grid;
  height: 90%;
  grid-template: auto 1fr auto / auto 1fr auto;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #313131;
  
}

// etc


.left-sidebar {
  grid-column: 1 / 2;
  margin-left: 20%;
}

main {
  // background: rgb(226, 47, 47);
  margin-top: 1%;
  margin-left: 1%;
  grid-column: 2 / 3;
}

.right-sidebar {
  grid-column: 3 / 4;
}

footer {
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

body {
  font-family: system-ui, sans-serif;
}

.left-sidebar,
.right-sidebar {
  padding: 10px;
  

}
#clearTb{
  width: 120px;
  height: 35px;
  background-color: rgb(235, 54, 54);
  color: white;
  font-size: 15px ;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 120px;
}
//canvas
canvas{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
}
#btnFunction{

  height: 60px;
  width: 65px;
  border: none;
  background-color: white;

}
#btnShare{
  width: 120px;
  height: 35px;
  font-size: 15px ;
  border-radius: 10px;
  margin-top: 1%;
 background-color:rgb(69, 184, 223);
  color:rgb(255, 255, 255);
  

}
#btnShare:hover{
  color: rgb(255, 255, 255);
  background:rgb(46, 203, 255);
}


.list-wrapper {
  max-width: auto;
  margin: 0px auto;
  border: solid rgb(0, 0, 0) 1px;
  background: rgb(255, 255, 255);
}

.list {
  
  border-radius: 2px;
  list-style: none;
  padding: 0px;

}

.list-item {
 background: rgba(0, 0, 0, 0);
  width: 350px;
  display: flex;
  margin: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  &:last-child{
    border-bottom: none;
  
  }
  &-image {
    border-radius: 50%;
    width: 60px;
  }
  &-content{
    margin-left: 15px;
    color: #000000;
    h4, p{
      margin: 0;
    }
    h4{
      margin-top: 10px;
      font-size: 18px;
    }
    p{
      margin-top: 5px;
      color: #000000;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

//dropPen
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ffffff}

.dropdown:hover .dropdown-content {
  display: block;
}
#choosePen{
  width: 55px;
  height: 55px;
  border: none;
}

