body{
    text-align: center;
    

}
input{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    
}
button{
    height: 54px;
    width: 100px;
    background: rgb(46, 203, 255);
    color: rgb(0, 0, 0);
    margin-left: 3px;
    font-size: larger;
    border-radius: 5px;
}